In [2]:
city_1 = input('Enter name of city 1: ')
city_2 = input('Enter name of city 2: ')

temp = city_1
city_1 = city_2
city_2 = temp

print(f"The name of city 1 after swapping is {city_1}")
print(f"The name of city 2 after swapping is {city_2}")

Enter name of city 1: lagos
Enter name of city 2: abuja
The name of city 1 after swapping is abuja
The name of city 2 after swapping is lagos

In [4]:
num = float(input("Enter a number: "))
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Enter a number: 5
Positive number

In [5]:
print("Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS \n")

captain = {'Madiba: ': 'Chubby Obiora-Okafo', 'Blue-Jays: ': 'Christopher Uweh', 'Cirok: ': 'Alexander', 'TSG Walkers: ': 'Ikechukwu'}
goalkeepers = {'Madiba: ': 'Chubby Obiora-Okafo', 'Blue-Jays: ': 'Oladimeji Abaniwondea/Jeffrey Awagu', 'Cirok: ': 'Timileyin Pearse/Izuako Jeremy', 'TSG Walker: ': 'Ayomide Ojituku'}

for pick in captain:
    print(pick, captain[pick])
    
print("\n")

for pick in goalkeepers:
    print(pick,goalkeepers[pick])

Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS

Madiba:  Chubby Obiora-Okafo
Blue-Jays:  Christopher Uweh
Cirok:  Alexander
TSG Walkers:  Ikechukwu


Madiba:  Chubby Obiora-Okafo
Blue-Jays:  Oladimeji Abaniwondea/Jeffrey Awagu
Cirok:  Timileyin Pearse/Izuako Jeremy
TSG Walker:  Ayomide Ojituku

In [7]:
import pandas as pd

# Girls' data
girls_data = [
    ['Samantha', 17, 5.5, 80],
    ['Jada', 16, 6.0, 85],
    ['Jane', 17, 5.4, 70],
    ['Claire', 18, 5.9, 60],
    ['Elizabeth', 16, 5.6, 76],
    ['Mary', 18, 5.5, 66],
    ['Susan', 17, 6.1, 87],
    ['Waje', 20, 6.0, 95],
    ['Taibat', 19, 5.7, 50],
    ['Lilian', 17, 5.5, 49]
]

# Boys' data
boys_data = [
    ['Charles', 19, 5.7, 74],
    ['Jude', 16, 5.9, 87],
    ['James', 18, 5.8, 75],
    ['Kelvin', 17, 6.1, 68],
    ['Biodun', 20, 5.9, 66],
    ['Wale', 19, 5.5, 78],
    ['Kunle', 16, 6.1, 87],
    ['Matthew', 18, 5.4, 98],
    ['Tom', 17, 5.8, 54],
    ['Kayode', 19, 5.7, 60]
]

# Creating a DataFrame
data = {
    'Name': [item[0] for item in girls_data + boys_data],
    'Age': [item[1] for item in girls_data + boys_data],
    'Height': [item[2] for item in girls_data + boys_data],
    'Score': [item[3] for item in girls_data + boys_data]
}

df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

         Name  Age  Height  Score
0    Samantha   17     5.5     80
1        Jada   16     6.0     85
2        Jane   17     5.4     70
3      Claire   18     5.9     60
4   Elizabeth   16     5.6     76
5        Mary   18     5.5     66
6       Susan   17     6.1     87
7        Waje   20     6.0     95
8      Taibat   19     5.7     50
9      Lilian   17     5.5     49
10    Charles   19     5.7     74
11       Jude   16     5.9     87
12      James   18     5.8     75
13     Kelvin   17     6.1     68
14     Biodun   20     5.9     66
15       Wale   19     5.5     78
16      Kunle   16     6.1     87
17    Matthew   18     5.4     98
18        Tom   17     5.8     54
19     Kayode   19     5.7     60

In [8]:
def calculate_atr(years_of_experience, age):
    if years_of_experience > 25 and age >= 55:
        atr = 5600000
    elif years_of_experience > 20 and age >= 45:
        atr = 4480000
    elif years_of_experience > 10 and age >= 35:
        atr = 1500000
    else:
        atr = 550000

    return atr

# Taking input from the user
years_of_experience = int(input("Enter years of experience: "))
age = int(input("Enter age: "))

# Calculating annual tax revenue (ATR)
atr = calculate_atr(years_of_experience, age)

# Displaying the result
print("Annual Tax Revenue (ATR): N{}".format(atr))

Enter years of experience: 5
Enter age: 35
Annual Tax Revenue (ATR): N550000